# check https://docs.djangoproject.com/en/4.0/ref/settings/#secret-key
DJANGO_SECRET_KEY=<random string>

# fill if need google auth
DJANGO_SOCIAL_AUTH_GOOGLE_KEY=<google app key>
DJANGO_SOCIAL_AUTH_GOOGLE_SECRET=<google app secret>
