BACKEND_TAG=latest
FRONTEND_TAG=latest
COUCHDB_PROXY_TAG=latest

POSTGRES_PASSWORD=
POSTGRES_PASSWORD=api-projector
POSTGRES_USER=api-projector
POSTGRES_DB=api-projector

COUCHDB_PASSWORD=api-projector
COUCHDB_USER=api-projector

DOMAIN_NAME=
