BACKEND_TAG=
FRONTEND_TAG=
COUCHDB_PROXY_TAG=

POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=

COUCHDB_PASSWORD=
COUCHDB_USER=

DOMAIN_NAME=

DJANGO_SOCIAL_AUTH_GOOGLE_KEY=
DJANGO_SOCIAL_AUTH_GOOGLE_SECRET=
